doctype html
html(lang=es)
    head
        title BBC Clone
        meta(charset='utf-8')
        meta(name='author', content='Jaime A. Feldman B.')
        link(rel='icon' href='img/favicon.ico' type='image/x-icon')
        link(rel='stylesheet', href='css/estilo.css')
    body
      header
        #top-bar-background
          #top-bar
            #top-bar-logo
              img(src="./img/bbc-logo.png", alt="logo" width='84px' height='24px')
            #top-bar-login
              img(src="./img/login-image.png", alt="login image" width='18px' height='18px')
              p Sign in
            #top-bar-menu
              ul
                li
                  a(href="#") News
                li
                  a(href="#") Spot
                li
                  a(href="#") Waether
                li
                  a(href="#") Shop
                li
                  a(href="#") Earth
                li
                  a(href="#") Travel
                li
                  a(href="#") More
                  img(src="./img/triangulo.png", alt="Triangulo" widht='15' height='15')   
            #top-bar-search-bar
              input#search-box(type='text' placeholder='Search' name='searchBox' autofocus)
         #hidden-zone-background
           #hidden-zone
              p Titulo
              #hidden-zone-links
                ul
                  li
                    a(href="#") Capital
                  li
                    a(href="#") Culture
                  li
                    a(href="#") Autos
                  li
                    a(href="#") Future
                  li
                    a(href="#") TV
                ul
                  li
                    a(href="#") Radio
                  li
                    a(href="#") CBBC
                  li
                    a(href="#") CBeebies
                  li
                    a(href="#") Make it Digital
                  li
                    a(href="#") Food
                ul
                  li
                    a(href="#") iWonder
                  li
                    a(href="#") Bitezie
                  li
                    a(href="#") Muisc
                  li
                    a(href="#") Nature
                  li
                    a(href="#") Local    
         #header-title-background
           #header-title
             p NEWS
         #header-bottom-menu-background
           #header-bottom-menu
             ul
               li
                 a(href="#") Home
               li
                 a(href="#") Video
               li
                 a(href="#") World
               li
                 a(href="#") UK
               li
                 a(href="#") Business
               li
                 a(href="#") Tech
               li
                 a(href="#") Sience
               li
                 a(href="#") Magazine
               li
                 a(href="#") Entertainment & Arts
               li
                 a(href="#") Health
               li
                 a(href="#") In Pictures
               li
                 a(href="#") More
                 img(src="./img/triangulo.png", alt="Triangulo" width='15' height='15')   
      main
      
            
